<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="resources/js/jquery-3.2.0.min.js"></script>
<script src="resources/js/adminLogin.js"></script>
<script type="text/javascript">
	function user_login(){
		window.location.href = "http://localhost:8080/java-web-e_business_platform/views/userLogin.html";
	}

</script>
</head>
<body style = "background-color:rgb(25,100,191);font-style: color,write;">
<!-- rgb(1,133,207) -->
<div style = "width:826px; height:545px; background-image: url('resources/images/adminLogin2.png');position: absolute;top:25%;left:30%;">
	
<!-- 	<div style = "width:750px;height:34px; background-color:rgb(1,133,207)">
	</div> -->

	<form style = "position: absolute;top:32.5%;left:17%;font-size: 22px;">
	账号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" id = "adminName" onclick="check_name()" style = "font-size:27px;color:write ;width:230px;height:28px; border:none;background-color: transparent"><br><br>
	<br>密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" id = "adminPassword" onclick="check_password()" style = "font-size:27px;color:write ;width:230px;height:28px; border:none;background-color: transparent"><br><br>
	<input type = "button" value = "登录" onclick="check_login()" style = "background-color: transparent;position: absolute;left:80%;"><span id = "span_1"></span>
</form>
<div style = "position: absolute;top:2.5%;left:50%;color:white ;">
</div><div style = "position: absolute;top:14%;left:70%;">
<input  style = "background-color: transparent ; border:none" onclick = "user_login()" type = "button" value = "点击切换"></div>
</div>


</body>
</html>